
@{
    ViewBag.Title = "Result";
}

<h2>Результат операции:</h2>
<div>
    Первый операнд: @Session["Operand1"]<br />
    Второй операнд: @Session["Operand2"]<br />
    Операция: @Session["Operation"]<br />
    Результат: @Session["Result"]<br />
</div>